body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

input {
  border:none;
  border-bottom: 1.9px solid #2f2f2f;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip:padding-box;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
  -webkit-appearance:none;
  background-color:#f2f2f2;
  color:#2f2f2f;
  outline:0;
  margin:0;
  padding:0;
  text-align: left;
  font-size:1em;
  height: 1em;
  vertical-align: middle;

}

input:focus {
  border:none;
  border-bottom: 1.9px solid #2f2f2f;
}

input:active {
  border:none;
  border-bottom: 1.9px solid #2f2f2f;
}
